@model PieShop.Models.Pie
@{
    ViewData["Title"] = "Details";
}

<h2>@Model.Name</h2>
<div class="card card-body" >
    <div class="card-header">
        @Model.Name
        @Model.Price
    </div>
    

</div>

